Домашнее задание «Функции и работа с данными»
Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
raiting=pd.read_csv('ratings.csv')
raiting.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
def class_movies(row):
    if row['rating']<=2.0:
        return 'низкий рейтинг'
    elif 2.0<row['rating']<=4.0:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [6]:
raiting['class'] = raiting.apply(class_movies, axis=1)
raiting.head(10)

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг
5       1     1263     2.0  1260759151   низкий рейтинг
6       1     1287     2.0  1260759187   низкий рейтинг
7       1     1293     2.0  1260759148   низкий рейтинг
8       1     1339     3.5  1260759125  средний рейтинг
9       1     1343     2.0  1260759131   низкий рейтинг

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [7]:
geo_data = {

'Центр':['москва', 'тула', 'ярославль'],

'Северо-Запад':['петербург', 'псков', 'мурманск'],

'Дальний Восток':['владивосток', 'сахалин', 'хабаровск'] 
}
cities=[]
for values in geo_data.values():
    for i in values:
        cities.append(i)
cities

['москва',
 'тула',
 'ярославль',
 'петербург',
 'псков',
 'мурманск',
 'владивосток',
 'сахалин',
 'хабаровск']

In [12]:
row='куплю квартиру москва'
data=row.split(' ')
def check(c):
    for i in c:
        if i in cities:
            for items in geo_data.items():
                if i in items[1]:
                    print(items[0])
check(data)

Центр

In [13]:
df=pd.read_csv('keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [14]:
def region_in_keyword(row):
    data=row['keyword'].split(' ')
    i=0
    for word in data:
        if word in cities:
            for items in geo_data.items():
                if word in items[1]:
                    i+=1
                    return items[0]
    if i==0:
        return 'undefined'

In [15]:
df['region'] = df.apply(region_in_keyword, axis=1)
df.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [16]:
df[(df['region']!='undefined')]

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
1236                    банк санкт петербург  174375    Северо-Запад
...                                      ...     ...             ...
99292           афиша кино москва на сегодня    3704           Центр
99590  авито ярославль автомобили с пробегом    3673           Центр
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[594 rows x 3 columns]